<!DOCTYPE html>
<html>
  <head>
    <title>Express To-Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(t) { %>
        <li>
          <a href="/skills/<%= t.id %>"><%= t.desc %></a>

        </li>
      <% }); %>
        <br>
        </ul>
        <a href="/skills/new">Add a Skill</a>
  </body>

</html>