<!DOCTYPE html>
<html>
  <head>
    <title>Express To-Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
      Skill <input type="text" name="desc"><br>
      Rating (out of 10) <input type="number" name="rating"><br>
      <input type="submit" value="ADD SKILL">
    </form>
  </body>

</html>