<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skill #<%= skill.id%></h1>
    <h3><%= skill.desc %></h3>
    <h3>Rating: <%= skill.rating%></h3>
    <br>
    <a href="./">Back to Skills</a>
  </body>

</html>
