body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(163, 244, 217);
}

a {
  color: #af4808;
}

li {
  font-style:italic;
}

h1 {
  text-decoration: underline;
}

